<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="assests/font/fontawesome-free-6.5.1-web/css/all.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/blockchain.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>NFT</title>
</head>

<body>
<header class="bg-white fixed-top">
  <div class="container">
    <div class="row justify-content-end mt-2 mb-2">
      <div class="col-1">
        <a class="nav-link btn-dk fs-6" href="#">Đăng kí</a>
      </div>
      <div class="col-1">
        <a class="nav-link btn-dn fs-6" href="#">Đăng nhập</a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid header-nav">
        <a class="mt-2" id="logo">
          Bonus <p>Zone</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#">Tính năng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nhiệm vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thành viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<main class="banner">
  <img src="/assets/img/NFT_1.jpg" class="d-block w-100" alt="...">
</main>
<div class="container mb-2">
  <h2 class="title mb-4">
    NFT là gì? Khám phá những yếu tố quan trọng giúp NFT trở thành cơn sốt toàn cầu
  </h2>
  <h4 class="fw-bold">NFT là gì?</h4>
  <p class="title1">NFT là viết tắt của từ Non-fungible token, dịch sang tiếng Việt có nghĩa là mã thông báo không
    thể thay thế. Về cơ bản, NFT là một loại tài sản kỹ thuật số được lưu trữ trên blockchain và đó có thể là
    một tác phẩm nghệ thuật, một bài hát, một đoạn video hay một trò chơi điện tử,...</p>
  <p class="title1">Điều đặc biệt là mỗi NFT đều chỉ có duy nhất một mã định danh và là tài sản riêng thuộc về một
    chủ sở hữu. Hiện nay, các NFT thường được người dùng tiến hành giao dịch bằng tiền số và đôi khi có thể thay
    thế bằng USD.</p>
  <img src="/assets/img/NFT_2.jpg" class="w-100 mb-5 rounded" height="700">
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Ứng dụng phổ biến của NFT là gì?</h4>
  <p class="title1">Sau khi tìm hiểu khái niệm NFT là gì, chắc chắn nhiều người sẽ nhanh chóng đặt ra câu hỏi về
    tính ứng dụng của loại tài sản số này. Theo đó, với sự bùng nổ của công nghệ thông tin thì NFT đang được xem
    là công cụ hàng đầu để mã hóa các tài sản số như âm nhạc, tranh ảnh hay tác phẩm nghệ thuật khác,...</p>
  <p class="title1">Ví dụ, khi một nhạc sĩ bán một ca khúc dưới dạng NFT, người mua nó sẽ trở thành chủ sở hữu
    toàn quyền sau khi đã hoàn thành việc trả tiền. Lúc này, bài hát vẫn có thể được hát bởi những người khác
    nhưng chỉ có duy nhất người mua mới là người sở hữu chính thức.</p>
  <p class="title1">Bên cạnh đó, NFT còn được sử dụng để đại diện cho các loại tài sản số khác như tranh ảnh,
    video, game hay thậm chí là một tweet trên Twitter. Nhờ vậy mà các tác phẩm nghệ thuật hay bài hát ấn tượng
    có thể được giao dịch và sở hữu một các minh bạch, an toàn ngay trên blockchain.</p>
  <img src="/assets/img/NFT_3.jpg" class="w-100 mb-5 rounded" height="700">
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Lợi ích ấn tượng của NFT là gì?</h4>
  <p class="title1">Không thể phủ nhận việc thực hiện mã hóa các tài sản đã mang lại rất nhiều lợi ích cho
    cả người bán và người mua. Cụ thể:</p>
  <p class="title1 ms-5">- Sự độc đáo: Như đã nhấn mạnh ở trên, mỗi NFT đều có một mã định danh duy nhất và hoàn
    toàn không thể thay thế bằng bất kỳ loại tài sản nào khác. Điều này giúp đảm bảo tính độc đáo và giá trị của
    từng NFT.</p>
  <p class="title1 ms-5">- Sự minh bạch: NFT được lưu trữ trên blockchain - một hệ thống phân tán và minh bạch.
    Điều này giúp đảm bảo sự rõ ràng và an toàn cho các giao dịch liên quan đến NFT, nhất là đối với việc định
    giá những tác phẩm nghệ thuật.</p>
  <p class="title1 ms-5">- Khả năng chuyển nhượng: Một điều ít ai chú ý đến đó là NFT có thể được mua bán, trao
    đổi trên các thị trường NFT một cách dễ dàng. Đây là một trong những lợi ích to lớn giúp người dùng có thể
    nhanh chóng kiếm lời từ việc sở hữu và giao dịch các NFT, qua đó làm tăng tính thanh khoản cho các tài sản
    kỹ thuật số.</p>
  <img src="/assets/img/NFT_4.jpg" class="w-100 mb-5 rounded" height="700">
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Lạm dụng NFT quá mức sẽ gây ra nguy cơ tiềm ẩn nào?</h4>
  <p class="title1">Mặc dù mới chỉ gây sốt từ năm 2021 nhưng những giao dịch NFT thật ra đã bắt đầu được thực hiện
    kể từ năm 2017. Theo báo cáo của DappRadar thì trong quý 3/2021, doanh số bán NFT đã đạt con số là 10.7 tỷ
    USD.</p>
  <p class="title1">Rất nhiều chuyên gia đã nhận định rằng, nguyên nhân dẫn tới sự phát triển mạnh mẽ chỉ trong
    thời gian ngắn của NFT đó là vì vào đợt dịch Covid-19 bùng nổ. Khi đó, tất cả mọi nơi đều bị phong tỏa và có
    lệnh cấm hạn chế ra ngoài đường. Lúc này, mọi người có nhiều thời gian để lên mạng hơn và sự nổi tiếng của
    các sản phẩm như tiền ảo cũng là nguyên nhân khiến NFT trở nên thịnh hành.</p>
  <p class="title1">Tuy nhiên, điểm mạnh của NFT cũng chính là điểm yếu khiến cho người dùng cảm thấy e ngại khi
    sử dụng. Bởi lẽ, khi đó thì bất kỳ ai trên mạng cũng đều có thể tự mình tạo ra NFT từ bất cứ điều gì và
    khiến cho tình trạng rất nhiều token không có giá trị xuất hiện. Vì vậy, nếu bạn đang muốn đầu tư vào lĩnh
    vực này thì điều kiện là hãy trang bị đầy đủ những kiến thức về nó trước nhé.</p>
  <img src="/assets/img/NFT_5.jpg" class="w-100 mb-5 rounded" height="700">
</div>

<div class="container mb-2">
  <h2 class="title mb-4"> Các thuật ngữ liên quan đến NFT  </h2>
  <h4 class="fw-bold">NFT Art là gì?</h4>
  <p class="title1">NFT Art hay NFT nghệ thuật được tạo ra khi các nghệ sĩ tiến hành số hóa các tác phẩm của mình,
    đồng thời lưu trữ chúng trên blockchain nhằm tạo ra giá trị tài sản kỹ thuật số. Thông thường, giá trị của
    NFT Art chủ yếu sẽ đến từ hai yếu tố chính là: Sử dụng kỹ thuật số để xác minh tính nguyên bản và khả năng
    chứng minh được quyền sở hữu tài sản kỹ thuật số.</p>
  <p class="title1">Thông qua hai yếu tố này, các tác phẩm nghệ thuật sẽ trở thành loại tài sản “độc nhất vô nhị”
    trên hệ thống blockchain. Việc ứng dụng công nghệ blockchain vào trong các tác phẩm nghệ thuật sẽ giúp đẩy
    mạnh tính minh bạch và an toàn cho quyền sở hữu tài sản kỹ thuật số, cũng như hỗ trợ cho các nghệ sĩ có thể
    dễ dàng kiếm tiền từ chính tác phẩm của mình một cách công bằng hơn.</p>
  <img src="/assets/img/NFT_6.jpg" class="w-100 mb-5 rounded" height="700">
  <h4 class="fw-bold">Tạm kết</h4>
  <p class="title1">Như vậy, BonusZone vừa chia sẻ cho bạn những kiến thức về khái niệm NFT là gì cùng một số
    thông tin liên quan. Có thể thấy, trong thời đại công nghệ số phát triển thì NFT đã mang lại rất nhiều lợi
    ích cho người dùng và hứa hẹn sẽ trở thành xu hướng cực hot trong tương lai. Tuy nhiên, song song với những
    lợi ích thì NFT cũng có một vài nguy cơ tiềm ẩn nếu bạn lạm dụng chúng quá mức. Vậy nên, việc hiểu rõ về NFT
    và cách sử dụng hợp lý sẽ giúp người dùng có thể tận dụng tối đa những lợi ích của công cụ này.</p>
</div>
<footer class="bg-black">
  <div class="container">
    <div class="row mt-5 ms-5">
      <div class="col-lg-9 col-12">
        <div class="row" >
          <div class="col-lg-3 col-12">
            <div class="position-relative">
              <div class="mb-3 pb-2 d-flex justify-content-between">
                <h4 class="overflow-y-hidden text-white">Về chúng tôi</h4>
              </div>
              <div class="collapse d-lg-block"  data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#" class="text-decoration-none text-reset">Giới thiệu
                      chung</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tin tức</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Báo chí</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Sự kiện</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Podcast</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div>
              <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                <h4 class="overflow-y-hidden text-white">Dịch vụ</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                   href="#collapseAccounts" role="button" aria-expanded="false"
                   aria-controls="collapseAccounts">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Chợ ứng dụng -
                      marketplace</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tập huấn, chuyển giao
                      công nghệ</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tư vấn và Triển
                      khai</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tùy biến tính năng theo
                      yêu cầu</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Nâng cấp Odoo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
              <h4 class="overflow-y-hidden text-white">Cộng đồng</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                 href="#collapseResources" role="button" aria-expanded="false"
                 aria-controls="collapseResources">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Blogs Quản trị</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Khóa học</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Chương trình Cộng tác
                    viên</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Chương trình Đối tác</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
              <h4 class="overflow-y-hidden text-white">Tài nguyên</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                 href="#collapseLocations" role="button" aria-expanded="false"
                 aria-controls="collapseLocations">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Github</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Runbot</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Tài sản thương hiệu</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Chính sách</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
          <h4 class="overflow-y-hidden text-white">Trợ giúp</h4>
          <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
             href="#collapseLocations" role="button" aria-expanded="false"
             aria-controls="collapseLocations">
            <i class="bi bi-chevron-down"></i>
          </a>
        </div>
        <div class="collapse d-lg-block" data-bs-parent="#ft-links">
          <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Diễn đàn</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset">Tài liệu hướng dẫn</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Trợ giúp</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset"> Đặt lịch hẹn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5" style="border-top: 1px solid white;">
    <div class="row mt-5 ms-5">
      <div class="col-lg-8 col-12">
        <div class="row" id="ft-links">
          <div class="col-lg-4 col-12">
            <div class="position-relative">
              <div class="mb-3 pb-2 d-flex justify-content-between">
                <h4 class="overflow-y-hidden text-white">Liên hệ</h4>
              </div>
              <div class="collapse d-lg-block" id="collapseLanding" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#" class="text-decoration-none text-reset">Hotline: <span>+84 0337
                                                    092 423</span></a>
                  </li>
                  <li class="mb-2">
                    <a href="#!"
                       class="text-decoration-none text-reset">Email:kieukienquocvn@gmail.com</a>
                  </li>
                </ul>
              </div>
              <div class="text-md-end d-flex align-items-center">
                <div class="d-flex gap-2">
                  <a href="#!" class="btn">
                    <i class="bi bi-instagram"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-twitter-x"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-linkedin"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-youtube"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-spotify"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-threads"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div>
              <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                <h4 class="overflow-y-hidden text-white">Địa chỉ</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                   href="#collapseAccounts" role="button" aria-expanded="false"
                   aria-controls="collapseAccounts">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Trường Cao đẳng FPT
                      Polytechnic</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
          <h4 class="overflow-y-hidden text-white">Đăng ký kinh doanh</h4>
          <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
             href="#collapseLocations" role="button" aria-expanded="false"
             aria-controls="collapseLocations">
            <i class="bi bi-chevron-down"></i>
          </a>
        </div>
        <div class="collapse d-lg-block" id="collapseLocations" data-bs-parent="#ft-links">
          <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Mã số Doanh nghiệp: 0000000000</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset">Được cấp phép bởi Sở Kế hoạch và
                Đầu tư Hải Phòng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container mt-7">
    <div class="row align-items-center">
      <div class="col-md-3 d-flex ms-5">
        <a class="mb-4 mb-lg-0 d-block text-inverse" href="#"><img
            src="/assets/img/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" width="100px" alt=""></a>
        <a class="mb-4 mb-lg-0 d-block text-inverse ms-2" href="#"><img src="/assests/img/logo-dmca.png"
                                                                        width="100px" alt=""></a>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="small mb-3 mb-lg-0 text-lg-center">
          Copyright belongs to web Technology Joint Stock Company</div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</footer>
<!-- AOS JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
<script src="/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>