<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assests/css/post.css" />
    <link
      rel="stylesheet"
      href="../../assests/font/fontawesome-free-6.5.1-web/css/all.css"
    />
    <title>Document</title>
  </head>
  <body>
    <a href="" class="btn-dk">Đăng kí</a>
    <a href="#" class="btn-dn" onclick="btndn()">Đăng nhập</a>
    <header id="header">
      <div class="header-nav">
        <a id="logo">
          Bonus
          <p>Zone</p>
        </a>
        <ul>
          <li>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="grid1">
      <div class="row1">
        <div class="colunm1-1">
          <ul>
            <li>
              <a href="#">Tất cả</a>
              <a href="#">Quản trị doanh nghiệp</a>
              <a href="#">Chuyển đổi số</a>
              <a href="#">Giải pháp</a>
              <a href="#">Công nghệ</a>
            </li>
          </ul>
        </div>
        <div class="colunm1-2">
          <input type="text" placeholder="Tìm kiếm..." />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    <div class="grid2 grid1">
      <div class="row2">
        <div class="colunm2">
          <div class="colunm2-1">
            <img src="../../assests/img/crm.jpg" alt="" />
            <div>
              <h2>5 phần mềm CRM giúp quản lý, chăm sóc khách hàng tốt nhất</h2>
              <p>
                Trước đây, phần mềm CRM thường chỉ được xem xét là một phần mềm
                hỗ trợ bán hàng. Thế nhưng, trong bối cảnh hiện tại, khi quản lý
                mối quan hệ khách hàng chính là chìa khóa quan trọng giúp doanh
                nghiệp...
              </p>
              <p>7 thg 6, 2024</p>
            </div>
          </div>
          <div class="colunm2-2">
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
