<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assests/css/post.css" />
    <link
      rel="stylesheet"
      href="../../assests/font/fontawesome-free-6.5.1-web/css/all.css"
    />
    <title>Document</title>
  </head>
  <body>
    <a href="" class="btn-dk">Đăng kí</a>
    <a href="#" class="btn-dn" onclick="btndn()">Đăng nhập</a>
    <header id="header">
      <div class="header-nav">
        <a id="logo">
          Bonus
          <p>Zone</p>
        </a>
        <ul>
          <li>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="grid1">
      <div class="row1">
        <div class="colunm1-1">
          <ul>
            <li>
              <a href="#">Tất cả</a>
              <a href="#">Quản trị doanh nghiệp</a>
              <a href="#">Chuyển đổi số</a>
              <a href="#">Giải pháp</a>
              <a href="#">Công nghệ</a>
            </li>
          </ul>
        </div>
        <div class="colunm1-2">
          <input type="text" placeholder="Tìm kiếm..." />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
    </div>
    <div class="grid2 grid1">
      <div class="row2">
        <div class="colunm2">
          <div class="colunm2-1">
            <img src="../../assests/img/crm.jpg" alt="" />
            <div>
              <h2>5 phần mềm CRM giúp quản lý, chăm sóc khách hàng tốt nhất</h2>
              <p>
                Trước đây, phần mềm CRM thường chỉ được xem xét là một phần mềm
                hỗ trợ bán hàng. Thế nhưng, trong bối cảnh hiện tại, khi quản lý
                mối quan hệ khách hàng chính là chìa khóa quan trọng giúp doanh
                nghiệp...
              </p>
              <p>7 thg 6, 2024</p>
            </div>
          </div>
          <div class="colunm2-2">
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
            <div class="colunm2-2-item">
              <a href="">
                <img src="../../assests/img/CRM.jpg" alt="" />
                <p>
                  Blockchain là gì? Công nghệ này có ảnh hưởng thế nào đến cuộc
                  sống của chúng ta?
                </p>
                <p>11 thg 5, 2024</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid3">
      <div class="grid3_item">
        <h3>
          Giải pháp Tăng Tích Cực Cho Sinh Viên Tham Gia Hoạt Động Sự Kiện
        </h3>
        <button class="btn">Tìm hiểu thêm</button>
      </div>
    </div>
    <div class="grid4 grid1">
      <div class="row4">
        <div class="colunm4-1">
          <p>
            <i class="fa-solid fa-circle-check"></i>
            Miễn phí toàn bộ ứng dụng. Tính phí trên số lượng người dùng thực
            tế.
          </p>
          <p>
            <i class="fa-solid fa-circle-check"></i>
            Linh hoạt trên nhiều thiết bị: Laptop, Điện thoại, máy tính bảng,..
          </p>
          <button class="btn btn2">Khám phá ngay</button>
          <button class="btn btn3">Xem bảng giá</button>
        </div>
        <div class="colunm4-2">
          <h2>Tìm kiếm dịch vụ phù hợp với Doanh nghiệp</h2>
          <div class="colunm4-2_item">
            <div class="colunm4-2_link">
              <a href="">Dịch vụ Tập huấn và Chuyển giao công nghệ</a>
            </div>
            <div class="colunm4-2_link">
              <a href="">Dịch vụ Tùy biến tính năng theo yêu cầu</a>
            </div>
            <div class="colunm4-2_link">
              <a href="">Dịch vụ Tư vấn và Triển khai Giải pháp</a>
            </div>
            <div class="colunm4-2_link">
              <a href="">Viindoo Marketplace</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid5 grid1">
      <div class="row5">
        <div class="colunm5">
          <div class="colunm5-1">
            <h2>Bạn đã sẵn sàng trải nghiệm?</h2>
            <p>
              Bắt đầu ngay với những tính năng cơ bản. Mở rộng, cài đặt thêm bất
              cứ khi nào. Miễn phí dùng thử 15 ngày.
            </p>
          </div>
          <div class="colunm5-2">
            <p>
              Phần mềm Quản trị Doanh nghiệp Viindoo dành cho iOS và Android
            </p>
            <div class="colunm5-1_link">
              <a href="">
                <img
                  src="../../assests/img/google-play-logo.png"
                  alt=""
                  class="colunm5-1_logo1"
                />
              </a>
              <a href="">
                <img
                  src="../../assests/img/fifi.png"
                  alt=""
                  class="colunm5-1_logo2"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-grid">
        <div class="footer-row">
          <div class="footer-column">
            <div class="footer-column1">
              <h3>Về chúng tôi</h3>
              <a href="">Giới thiệu chung</a>
              <a href="">Tuyển dụng</a>
              <a href="">​Tin tức</a>
              <a href="">Báo chí</a>
              <a href="">Sự kiện</a>
              <a href="">Podcast</a>
            </div>
            <div class="footer-column1">
              <h3>Dịch vụ</h3>
              <a href="">Viindoo SaaS</a>
              <a href="">Chợ ứng dụng - Viindoo marketplace</a>
              <a href="">Tập huấn, chuyển giao công nghệ</a>
              <a href="">Tư vấn và Triển khai</a>
              <a href="">Tùy biến tính năng theo yêu cầu</a>
              <a href="">Nâng cấp Odoo</a>
            </div>
            <div class="footer-column1">
              <h3>Cộng đồng</h3>
              <a href="">Blogs Quản trị</a>
              <a href="">Khóa học</a>
              <a href="">Chương trình Cộng tác viên</a>
              <a href="">Chương trình Đối tác</a>
            </div>
            <div class="footer-column1">
              <h3>Tài nguyên</h3>
              <a href="">Github</a>
              <a href="">Runbot</a>
              <a href="">​Tài sản thương hiệu</a>
              <a href="">Chính sách</a>
            </div>
            <div class="footer-column1">
              <h3>Trợ giúp</h3>
              <a href="">Diễn đàn</a>
              <a href="">Tài liệu hướng dẫn</a>
              <a href="">​Trợ giúp</a>
              <a href="">Đặt lịch hẹn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-grid2">
        <div class="footer-row2">
          <div class="footer-column2">
            <h3>Liên hệ</h3>
            <p>
              Hotline:
              <a href="">+84 225 730 9838</a>
            </p>
            <p>
              Email:
              <a href="">Bonuszone@gmail.com</a>
            </p>
            <div class="footer-column2-icon">
              <a href="">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-square-x-twitter"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-spotify"></i>
              </a>
              <a href="">
                <i class="fa-solid fa-envelope-circle-check"></i>
              </a>
            </div>
          </div>
          <div class="footer-column2">
            <h3>Địa chỉ</h3>
            <p>Trụ sở chính: Tòa F Trường cao đẳng FPT Polytechnic</p>
          </div>
          <div class="footer-column2">
            <h3>Đăng kí kinh doanh</h3>
            <p>Mã số Doanh nghiệp: 0201994665</p>
            <p>Được cấp phép bởi Sở Kế hoạch và Đầu tư Thành Phố Hồ Chí Minh</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
