<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/font/fontawesome-free-6.5.1-web/css/all.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/blockchain.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <title>QuanLy</title>
</head>

<body>
<header class="bg-white fixed-top">
  <div class="container">
    <div class="row justify-content-end mt-2 mb-2">
      <div class="col-1">
        <a class="nav-link btn-dk fs-6" href="#">Đăng kí</a>
      </div>
      <div class="col-1">
        <a class="nav-link btn-dn fs-6" href="#">Đăng nhập</a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid header-nav">
        <a class="mt-2" id="logo">
          Bonus <p>Zone</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#">Tính năng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dịch vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nhiệm vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thành viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<main class="banner">
  <img src="/assets/img/nen.jpg" class="d-block w-100" alt="...">
  <div class="banner-content mb-4 text-dark">
    <div class="col-md-5 ">
      <h1 class="">Ứng dụng hỗ trợ quản lý, phân loại, chấm điểm thành viên trong cộng đồng</h1>
      <button href="#" class="content-btn"> ĐĂNG KÍ NGAY </button>
      <p> <i class="bi bi-check-lg"></i> Miễn phí trọn đời phần mềm Quản lý Công việc, Dự án </p>
      <p> <i class="bi bi-check-lg"></i> Không giới hạn số người sử dụng </p>
    </div>
  </div>
</main>
<div class="container mb-2">
  <h2 class="title mb-4"> 4 phần mềm quản lý bán hàng, quản lý cửa hàng giá rẻ, dễ dùng </h2>
  <h4 class="fw-bold">Phân loại phần mềm bán hàng chuyên dụng</h4>
  <p class="title1">Phần mềm quản lý bán hàng là một hệ thống dữ liệu tập trung, nơi lưu trữ tất cả thông tin liên
    quan đến hoạt động bán hàng của doanh nghiệp. Nhờ vậy, nhân viên kinh doanh cũng như quản lý bán hàng có thể
    dễ dàng theo dõi, kiểm soát các hoạt động bán hàng hằng ngày, theo dõi những khách hàng tiềm năng, phân công
    khách hàng, phân tích hiệu suất bán hàng của các thành viên,..</p>
  <p class="title1">Đặc biệt, các phần mềm bán hàng tiên tiến có khả năng tích hợp với phần mềm quản lý khách
    hàng, phần mềm Marketing, phần mềm quản lý kho bán hàng,... Việc tích hợp này giúp doanh nghiệp nâng cao
    hiệu quả hoạt động tổng thể, giảm thiểu các sai sót nghiệp vụ nhờ thông tin đồng nhất, cập nhật liên tục.
    Tuy nhiên, không phải bất kỳ phần mềm hỗ trợ bán hàng nào cũng đều có khả năng tích hợp hay có chức năng
    giống nhau..</p>
  <img src="/assets/img/Quanly_1.jpg" class="w-100 mb-5 rounded" height="700">
</div>
<div class="container mb-2">
  <p class="title1">Hiện nay, trên thị trường xuất hiện rất nhiều loại phần mềm bán hàng khác nhau được phân chủ
    yếu dựa trên đặc điểm, tính năng và giá thành. Theo đó, doanh nghiệp cần hiểu rõ các phân loại phần mềm
    chuyên dụng để lựa chọn công cụ phù hợp với nhu cầu kinh doanh cụ thể của mình cụ thể như:</p>
  <p class="title1 ms-5">- Miễn phí và Trả phí: Phiên bản miễn phí thường cung cấp các tính năng cơ bản và là lựa
    chọn tốt cho doanh nghiệp mới hoặc nhỏ. Ngược lại, phiên bản trả phí thường mang lại các tính năng nâng cao
    và hỗ trợ công tác quản lý bán hàng tốt hơn, phù hợp với doanh nghiệp có quy mô lớn, có quy trình kinh doanh
    phức tạp.</p>
  <p class="title1 ms-5">- Online and Offline: Phần mềm bán hàng online thường yêu cầu kết nối internet liên tục,
    giúp cập nhật dữ liệu trực tiếp và tiện lợi cho nhóm bán hàng di động. Ngược lại, phần mềm bán hàng
    offline có khả năng hoạt động mà không cần internet, thích hợp cho các khu vực có kết nối không ổn định.</p>

  <p class="title1 ms-5">- Bán hàng đa kênh: Mô hình bán hàng đa kênh liên quan đến việc tích hợp nhiều kênh bán
    hàng như cửa hàng trực tuyến, cửa hàng trực tiếp, và các nền tảng thương mại điện tử khác. Phần mềm quản lý
    bán hàng đa kênh giúp đồng bộ và quản lý hiệu quả mọi kênh để tối ưu hóa trải nghiệm khách hàng.</p>
  <p class="title1 ms-5">- Bán hàng ERP: Đối với doanh nghiệp lớn, phần mềm bán hàng ERP không chỉ quản lý giao
    dịch bán hàng mà còn tích hợp với các hệ thống khác như quản lý tồn kho, tài chính và nhân sự, mang lại sự
    hiệu quả và tính toàn diện trong quản lý doanh nghiệp.</p>
  <p class="title1 ms-5">- Quản lý cửa hàng: Phần mềm được thiết kế để giúp doanh nghiệp quản lý hoạt động bán
    hàng tại một hoặc nhiều cửa hàng cùng một lúc.</p>
  <p class="title1 ms-5">- Quản lý điểm bán hàng: Phần mềm POS là hệ thống phần mềm được thiết kế nhằm giúp các
    doanh nghiệp bán lẻ quản lý hoạt động bán hàng tại điểm bán hàng (POS).</p>
  <p class="title1">Và còn rất nhiều loại phần mềm bán hàng khác được phát triển bởi nhiều nhà từ trong nước đến
    ngoài nước như Salesforce, WooCommerce, Magento... Mỗi phần mềm đều có những ưu điểm và tính năng riêng,
    giúp doanh nghiệp đa dạng lựa chọn theo nhu cầu cụ thể của mình.</p>
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Tổng hợp 4 phần mềm hỗ trợ bán hàng, quản lý cửa hàng tốt nhất</h4>
  <p class="title1">Để giúp quý doanh nghiệp lựa chọn phần mềm bán hàng đơn giản hơn, phù hợp với nhu cầu sử dụng,
    chúng tôi đã lập ra danh sách TOP 7 phần mềm quản lý bán hàng tốt nhất hiện nay kèm theo bảng giá phần mềm
    chi tiết. Hãy cùng tham khảo và đọc review chi tiết để đưa ra lựa chọn tốt nhất nhé.</p>
  <h4 class="fw-bold">Sapo</h4>
  <p class="title1">Sapo là thành quả phát triển của đội ngũ kỹ thuật thuộc công ty cổ phần công nghệ Sapo. Với sứ
    mệnh hỗ trợ chủ cửa hàng, Sapo cung cấp tính năng quản lý cửa hàng tiên tiến, tích hợp nhiều chức năng để hỗ
    trợ nhà quản lý theo dõi chặt chẽ các hoạt động kinh doanh, bán hàng và doanh thu của mình.</p>
  <img src="/assets/img/Quanly_2.jpg" class="w-100 mb-5 rounded" height="700">
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Tính năng nổi bật:</h4>
  <p class="title1 ms-5">- Tính tiền nhanh, chính xác</p>
  <p class="title1 ms-5">- Dễ dàng kết nối với các thiết bị bán hàng như máy in hóa đơn, máy in mã vạch, ngăn kéo
    đựng tiền..</p>
  <p class="title1 ms-5">- Hỗ trợ đa dạng hình thức thanh toán như thanh toán bằng mã QR, quẹt thẻ, chuyển khoản…
  </p>
  <p class="title1 ms-5">- Kết nối màn hình phụ như điện thoại, máy tính bảng,...</p>
  <p class="title1 ms-5">- Quản lý và bán hàng trên Fanpage Facebook</p>
  <p class="title1 ms-5">- Kiểm soát chính xác số lượng mặt hàng trong kho</p>
  <p class="title1 ms-5">- Đơn hàng từ cửa hàng, Facebook và sàn TMĐT đều được quản lý tập trung</p>
  <p class="title1 ms-5">- Đẩy đơn, xem phí ship ngay trên phần mềm quản lý bán hàng</p>
  <p class="title1 ms-5">- Theo dõi báo cáo doanh thu, lãi lỗi chi tiết mọi lúc mọi nơi</p>

  <h4 class="fw-bold">Giá phần mềm:</h4>
  <p class="title1 ms-5">- Gói Start Up: 249,000 VND/ cửa hàng/ tháng/ kênh</p>
  <p class="title1 ms-5">- Gói Pro: 399,000 VND/ cửa hàng/ tháng/ 4 kênh</p>
</div>
<div class="container mb-2">
  <h4 class="fw-bold">POS365</h4>
  <p class="title1">POS365 không chỉ đơn giản là một phần mềm hỗ trợ bán hàng mà còn là giải pháp toàn diện,
    linh hoạt và phù hợp với mọi mô hình kinh doanh hiện nay. Chức năng quản lý đa kênh "all-in-one" giúp người
    kinh doanh có cái nhìn tổng quan về từng kênh, tối ưu hóa hiệu suất quản lý doanh nghiệp.</p>
  <img src="/assets/img/Quanly_3.jpg" class="w-100 mb-5 rounded" height="700">
  <h4 class="fw-bold">Tính năng nổi bật:</h4>
  <p class="title1 ms-5">- Dễ dàng kết nối thiết bị bán hàng như máy in hóa đơn, máy quét mã vạch, ngăn kéo đựng
    tiền và phần mềm quản lý,..</p>
  <p class="title1 ms-5">- Tính tiền nhanh, chính xác: hệ thống hiển thị đầy đủ, rõ nét hình ảnh kèm giá trị của
    từng sản phẩm. Chủ cửa hàng có thể cộng dồn các món hàng, tính toán thuế và khuyến mãi.</p>
  <p class="title1 ms-5">- Thanh toán không tiền mặt Mobile Banking, Thẻ ngân hàng, thẻ tín dụng, Ví điện tử, mã
    QR code... </p>
  <p class="title1 ms-5">- Tương thích trên nhiều thiết bị như máy tính bảng, laptop, điện thoại di động, máy tính
    PC, máy pos bán hàng.</p>
  <h4 class="fw-bold">Giá phần mềm:</h4>
  <p class="title1 ms-5">- 162,500 VND/ người dùng/ tháng (Đăng ký theo năm)</p>
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Suno</h4>
  <p class="title1">Suno là phần mềm bán hàng đơn giản với giao diện tiếng Việt giúp chủ cửa hàng thực hiện kiểm
    soát hàng hóa và quản lý tài chính một cách thuận lợi. Với khả năng hoạt động trên mọi thiết bị và tính năng
    bán hàng offline, Suno đảm bảo sự linh hoạt cho người dùng, cho phép truy cập mọi lúc và mọi nơi mà không
    cần internet.</p>
  <img src="/assets/img/Quanly_4.jpg" class="w-100 mb-5 rounded" height="700">
  <h4 class="fw-bold">Tính năng nổi bật:</h4>
  <p class="title1 ms-5">- Tích hợp chức năng báo cáo chi tiết và khách quan về mọi hoạt động kinh doanh, mang lại
    cái nhìn tổng quan và minh bạch về hiệu suất.</p>
  <p class="title1 ms-5">- Hỗ trợ linh hoạt cả khi kinh doanh online và offline, đảm bảo tính tiện lợi và linh
    hoạt cho người sử dụng.</p>
  <p class="title1 ms-5">- Phù hợp sử dụng cho đa dạng ngành nghề và loại hình kinh doanh khác nhau. </p>
  <p class="title1 ms-5">- Hỗ trợ quản lý các hoạt động giao dịch đã diễn ra, giúp tối ưu hóa quy trình quản lý và
    nắm bắt thông tin quan trọng.</p>
  <h4 class="fw-bold">Giá phần mềm:</h4>
  <p class="title1 ms-5">- Sử dụng cho 1 cửa hàng: 220,000 VND/ tháng</p>
  <p class="title1 ms-5">- Thêm một cửa hàng/ kho: 180.000 VND/ tháng</p>
</div>
<div class="container mb-2">
  <h4 class="fw-bold">Kiotviet</h4>
  <p class="title1">KiotViet được sáng lập bởi ông Trần Nguyên Hạo, người đang giữ vị trí Giám đốc điều hành. Theo
    ông Hạo, KiotViet không chỉ đơn thuần là một phần mềm bán hàng đơn giản mà còn là giải pháp toàn diện. Từ
    quản lý bán hàng tại điểm bán (POS), quản lý hàng tồn kho, quản lý khách hàng (CRM) cho đến quản lý nhân
    viên, KiotViet đã hỗ trợ hơn 110.000 doanh nghiệp vừa và nhỏ trên khắp Việt Nam. Với sự linh hoạt và tiện
    ích của mình, KiotViet là phần mềm đáng tin cậy, đưa đến sự hiệu quả và thuận tiện cho quy trình kinh doanh
    của doanh nghiệp.</p>
  <img src="/assets/img/Quanly_5.jpg" class="w-100 mb-5 rounded" height="700">
  <h4 class="fw-bold">Tính năng nổi bật:</h4>
  <p class="title1 ms-5">- Quản lý hàng hóa, thuộc tính đa dạng theo màu sắc, kích thước.</p>
  <p class="title1 ms-5">- Hệ thống kiểm soát tồn kho, báo cáo lãi lỗ chi tiết và trực quan.</p>
  <p class="title1 ms-5">- Thiết lập chính sách giá & Chương trình khuyến mại linh hoạt. </p>
  <p class="title1 ms-5">- Hỗ trợ các chương trình CSKH hiệu quả và nhanh chóng.</p>
  <p class="title1 ms-5">- Kinh doanh Online dễ dàng và hiệu quả.</p>
  <p class="title1 ms-5">- Quản lý hàng hóa, kiểm kho bằng mã vạch tiện lợi.</p>
  <p class="title1 ms-5">- Tích hợp mọi thiết bị phần cứng.</p>

  <h4 class="fw-bold">Giá phần mềm:</h4>
  <p class="title1 ms-5">- Gói hỗ trợ: 200,000 VND/ cửa hàng/ tháng cho 3 người dùng</p>
  <p class="title1 ms-5">- Gói chuyên nghiệp: 270,000 VND/ cửa hàng/ tháng, không giới hạn người dùng</p>
  <p class="title1 ms-5">- Gói cao cấp: 370.000đ/ cửa hàng/ tháng, không giới hạn người dùng</p>
</div>
<footer class="bg-black">
  <div class="container">
    <div class="row mt-5 ms-5">
      <div class="col-lg-9 col-12">
        <div class="row">
          <div class="col-lg-3 col-12">
            <div class="position-relative">
              <div class="mb-3 pb-2 d-flex justify-content-between">
                <h4 class="overflow-y-hidden text-white">Về chúng tôi</h4>
              </div>
              <div class="collapse d-lg-block" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#" class="text-decoration-none text-reset">Giới thiệu
                      chung</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tin tức</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Báo chí</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Sự kiện</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Podcast</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div>
              <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                <h4 class="overflow-y-hidden text-white">Dịch vụ</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                   href="#collapseAccounts" role="button" aria-expanded="false"
                   aria-controls="collapseAccounts">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Chợ ứng dụng -
                      marketplace</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tập huấn, chuyển giao
                      công nghệ</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tư vấn và Triển
                      khai</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Tùy biến tính năng theo
                      yêu cầu</a>
                  </li>
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Nâng cấp Odoo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
              <h4 class="overflow-y-hidden text-white">Cộng đồng</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                 href="#collapseResources" role="button" aria-expanded="false"
                 aria-controls="collapseResources">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Blogs Quản trị</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Khóa học</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Chương trình Cộng tác
                    viên</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Chương trình Đối tác</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-12">
            <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
              <h4 class="overflow-y-hidden text-white">Tài nguyên</h4>
              <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                 href="#collapseLocations" role="button" aria-expanded="false"
                 aria-controls="collapseLocations">
                <i class="bi bi-chevron-down"></i>
              </a>
            </div>
            <div class="collapse d-lg-block" data-bs-parent="#ft-links">
              <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Github</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Runbot</a>
                </li>
                <li class="mb-2">
                  <a href="#" class="text-decoration-none text-reset">Tài sản thương hiệu</a>
                </li>
                <li class="mb-2">
                  <a href="#!" class="text-decoration-none text-reset">Chính sách</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
          <h4 class="overflow-y-hidden text-white">Trợ giúp</h4>
          <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
             href="#collapseLocations" role="button" aria-expanded="false"
             aria-controls="collapseLocations">
            <i class="bi bi-chevron-down"></i>
          </a>
        </div>
        <div class="collapse d-lg-block" data-bs-parent="#ft-links">
          <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Diễn đàn</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset">Tài liệu hướng dẫn</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Trợ giúp</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset"> Đặt lịch hẹn</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5" style="border-top: 1px solid white;">
    <div class="row mt-5 ms-5">
      <div class="col-lg-8 col-12">
        <div class="row" id="ft-links">
          <div class="col-lg-4 col-12">
            <div class="position-relative">
              <div class="mb-3 pb-2 d-flex justify-content-between">
                <h4 class="overflow-y-hidden text-white">Liên hệ</h4>
              </div>
              <div class="collapse d-lg-block" id="collapseLanding" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#" class="text-decoration-none text-reset">Hotline: <span>+84 0337
                                                    092 423</span></a>
                  </li>
                  <li class="mb-2">
                    <a href="#!"
                       class="text-decoration-none text-reset">Email:kieukienquocvn@gmail.com</a>
                  </li>
                </ul>
              </div>
              <div class="text-md-end d-flex align-items-center">
                <div class="d-flex gap-2">
                  <a href="#!" class="btn">
                    <i class="bi bi-instagram"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-twitter-x"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-linkedin"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-youtube"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-spotify"></i>
                  </a>
                  <a href="#!" class="btn">
                    <i class="bi bi-threads"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div>
              <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                <h4 class="overflow-y-hidden text-white">Địa chỉ</h4>
                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
                   href="#collapseAccounts" role="button" aria-expanded="false"
                   aria-controls="collapseAccounts">
                  <i class="bi bi-chevron-down"></i>
                </a>
              </div>
              <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
                  <li class="mb-2">
                    <a href="#!" class="text-decoration-none text-reset">Trường Cao đẳng FPT
                      Polytechnic</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
          <h4 class="overflow-y-hidden text-white">Đăng ký kinh doanh</h4>
          <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse"
             href="#collapseLocations" role="button" aria-expanded="false"
             aria-controls="collapseLocations">
            <i class="bi bi-chevron-down"></i>
          </a>
        </div>
        <div class="collapse d-lg-block" id="collapseLocations" data-bs-parent="#ft-links">
          <ul class="list-unstyled mb-0 py-3 py-lg-0 text-white">
            <li class="mb-2">
              <a href="#" class="text-decoration-none text-reset">Mã số Doanh nghiệp: 0000000000</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-decoration-none text-reset">Được cấp phép bởi Sở Kế hoạch và
                Đầu tư Hải Phòng</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container mt-7">
    <div class="row align-items-center">
      <div class="col-md-3 d-flex ms-5">
        <a class="mb-4 mb-lg-0 d-block text-inverse" href="#"><img
            src="/assets/img/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" width="100px" alt=""></a>
        <a class="mb-4 mb-lg-0 d-block text-inverse ms-2" href="#"><img src="/assests/img/logo-dmca.png"
                                                                        width="100px" alt=""></a>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="small mb-3 mb-lg-0 text-lg-center">
          Copyright belongs to web Technology Joint Stock Company</div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</footer>
<!-- AOS JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
<script src="/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>