<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/crm.css" />
    <link
      rel="stylesheet"
      href="/assets/font/fontawesome-free-6.5.1-web/css/all.css"
    />
    <title>CRM</title>
  </head>
  <body>
    <a href="" class="btn-dk">Đăng kí</a>
    <a href="#" class="btn-dn" onclick="btndn()">Đăng nhập</a>
    <header id="header">
      <div class="header-nav">
        <a id="logo">
          Bonus
          <p>Zone</p>
        </a>
        <ul>
          <li>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
            <a href="">Giới thiệu</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="banner"></div>
    <h2>5 phần mềm CRM giúp quản lí, chăm sóc khách hàng tốt nhất</h2>
    <div class="grid">
      <div class="row">
        <div class="colunm">
          <h3>1. BonusZone CRM</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            velit rem? Esse tempora nostrum optio ipsam nulla? Illum quae illo
            libero eveniet veritatis facilis debitis sequi voluptas suscipit
            quod beatae, quis saepe est blanditiis. Eligendi voluptas modi
            maxime obcaecati ducimus, ab, veritatis quisquam dolor corrupti
            iusto minima reiciendis amet vitae.
          </p>
          <img src="/assets/img/CRM.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="row">
        <div class="colunm">
          <h3>2. Insightly CRM</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            velit rem? Esse tempora nostrum optio ipsam nulla? Illum quae illo
            libero eveniet veritatis facilis debitis sequi voluptas suscipit
            quod beatae, quis saepe est blanditiis. Eligendi voluptas modi
            maxime obcaecati ducimus, ab, veritatis quisquam dolor corrupti
            iusto minima reiciendis amet vitae.
          </p>
          <img src="/assets/img/CRM.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="row">
        <div class="colunm">
          <h3>3. Bravo CRM</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            velit rem? Esse tempora nostrum optio ipsam nulla? Illum quae illo
            libero eveniet veritatis facilis debitis sequi voluptas suscipit
            quod beatae, quis saepe est blanditiis. Eligendi voluptas modi
            maxime obcaecati ducimus, ab, veritatis quisquam dolor corrupti
            iusto minima reiciendis amet vitae.
          </p>
          <img src="/assets/img/CRM.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="row">
        <div class="colunm">
          <h3>4. Salesforce CRM</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            velit rem? Esse tempora nostrum optio ipsam nulla? Illum quae illo
            libero eveniet veritatis facilis debitis sequi voluptas suscipit
            quod beatae, quis saepe est blanditiis. Eligendi voluptas modi
            maxime obcaecati ducimus, ab, veritatis quisquam dolor corrupti
            iusto minima reiciendis amet vitae.
          </p>
          <img src="/assets/img/CRM.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="row">
        <div class="colunm">
          <h3>5. Netsuite CRM</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            velit rem? Esse tempora nostrum optio ipsam nulla? Illum quae illo
            libero eveniet veritatis facilis debitis sequi voluptas suscipit
            quod beatae, quis saepe est blanditiis. Eligendi voluptas modi
            maxime obcaecati ducimus, ab, veritatis quisquam dolor corrupti
            iusto minima reiciendis amet vitae.
          </p>
          <img src="/assets/img/CRM.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-grid">
        <div class="footer-row">
          <div class="footer-column">
            <div class="footer-column1">
              <h3>Về chúng tôi</h3>
              <a href="">Giới thiệu chung</a>
              <a href="">Tuyển dụng</a>
              <a href="">​Tin tức</a>
              <a href="">Báo chí</a>
              <a href="">Sự kiện</a>
              <a href="">Podcast</a>
            </div>
            <div class="footer-column1">
              <h3>Dịch vụ</h3>
              <a href="">Viindoo SaaS</a>
              <a href="">Chợ ứng dụng - Viindoo marketplace</a>
              <a href="">Tập huấn, chuyển giao công nghệ</a>
              <a href="">Tư vấn và Triển khai</a>
              <a href="">Tùy biến tính năng theo yêu cầu</a>
              <a href="">Nâng cấp Odoo</a>
            </div>
            <div class="footer-column1">
              <h3>Cộng đồng</h3>
              <a href="">Blogs Quản trị</a>
              <a href="">Khóa học</a>
              <a href="">Chương trình Cộng tác viên</a>
              <a href="">Chương trình Đối tác</a>
            </div>
            <div class="footer-column1">
              <h3>Tài nguyên</h3>
              <a href="">Github</a>
              <a href="">Runbot</a>
              <a href="">​Tài sản thương hiệu</a>
              <a href="">Chính sách</a>
            </div>
            <div class="footer-column1">
              <h3>Trợ giúp</h3>
              <a href="">Diễn đàn</a>
              <a href="">Tài liệu hướng dẫn</a>
              <a href="">​Trợ giúp</a>
              <a href="">Đặt lịch hẹn</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-grid2">
        <div class="footer-row2">
          <div class="footer-column2">
            <h3>Liên hệ</h3>
            <p>
              Hotline:
              <a href="">+84 225 730 9838</a>
            </p>
            <p>
              Email:
              <a href="">Bonuszone@gmail.com</a>
            </p>
            <div class="footer-column2-icon">
              <a href="">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-square-x-twitter"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="">
                <i class="fa-brands fa-spotify"></i>
              </a>
              <a href="">
                <i class="fa-solid fa-envelope-circle-check"></i>
              </a>
            </div>
          </div>
          <div class="footer-column2">
            <h3>Địa chỉ</h3>
            <p>Trụ sở chính: Tòa F Trường cao đẳng FPT Polytechnic</p>
          </div>
          <div class="footer-column2">
            <h3>Đăng kí kinh doanh</h3>
            <p>Mã số Doanh nghiệp: 0201994665</p>
            <p>Được cấp phép bởi Sở Kế hoạch và Đầu tư Thành Phố Hồ Chí Minh</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
