* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #94d1ee;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.user {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: right;
}

.wrap_user {
  position: relative;
  padding-bottom: 10px;
}

.wrap_user:hover {
  cursor: pointer;
}

.wrap_user:hover .user_sub-nav {
  display: block;
  animation: showFromBottom 0.5s ease forwards;
}

@keyframes showFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.user_sub-nav {
  display: none;
  position: absolute;
  min-width: 200px;
  right: 0;
  bottom: -140px;
  background-color: #6d366d;
  border-radius: 4px;
}

.user_sub-nav ul {
  padding: 20px;
}

.user_sub-nav ul li {
  border-radius: 4px;
}

.user_sub-nav ul li:last-child {
  margin-top: 16px;
  position: relative;
}

.user_sub-nav ul li:last-child::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e9f2f4;
}

.user_sub-nav ul li:hover {
  background-color: #e9f2f4;
  transition: 0.5s;
}

.user_sub-nav a {
  line-height: 28px;
  color: #fff;
}

.user_sub-nav i {
  margin-right: 5px;
}

.user_sub-nav ul li a:hover {
  color: #000;
}

.header-nav {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 1.6rem;
  display: flex;
  color: #1fc8d1;
  font-weight: 700;
}

#logo p {
  color: #713d7b;
  font-weight: 700;
}

.header-nav {
  padding-top: 20px;
  border-top: 1px solid #dbeef0;
}

.header-nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 10px;
  color: #000;
}

.btn-dk {
  position: fixed;
  right: 137px;
  padding: 14px 0;
  font-size: 1rem;
  color: #000;
  z-index: 11;
}

.btn-dn {
  right: 230px;
  position: fixed;
  padding: 14px 0;
  font-size: 1rem;
  color: #000;
  z-index: 11;
}

.btn-dk:hover {
  font-weight: 600;
}

.btn-dn:hover {
  font-weight: 600;
}

/* content */

#content {
  max-width: 1140px;
  margin: auto;
  padding: 126px 0;
}

.content-introduce {
  position: relative;
  top: 123px;
}

.content-introduce h1 {
  width: 560px;
  font-size: 2.2rem;
}

.content-btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #804080;
  border-color: #804080;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  transition-duration: 0.4s;
}
.content-btn:hover {
  color: #ffffff;
  background-color: #6d366d;
  border-color: #663366;
}

.content-img {
  position: absolute;
  width: 1393px;
  height: 500px;
}

.content-introduce2 {
  padding-top: 380px;
  display: flex;
}

.content-introduce2-list {
  padding-left: 68px;
}

.content-introduce2-item::after {
  position: absolute;
  content: "";
  top: 48px;
  right: 238px;
  background-color: #cecece;
  width: 470px;
  height: 1px;
}

.content-introduce2-item {
  position: absolute;
  padding-top: 102px;
  width: 688px;
}

.content-introduce2-list i {
  color: #9c0000;
  font-size: 2rem;
}

.content-introduce2-list p {
  color: #000;
  padding: 0 12px;
}

.content-introduce2-item1,
.content-introduce2-item2,
.content-introduce2-item3,
.content-introduce2-item4 {
  display: flex;
  padding: 10px 0;
}

/* container */
.container {
  height: 204px;
  background-color: #08a0b1;
}

.content-introduce3 {
  max-width: 1140px;
  margin: auto;
  text-align: center;
  padding-top: 75px;
}

.content-introduce3 h1,
p {
  color: #fff;
}

.container-introduce4 {
  max-width: 1140px;
  margin: auto;
  padding-top: 130px;
  text-align: center;
}

.container-introduce4 p {
  color: #000;
  padding-top: 10px;
}

.container-introduce4_list {
  width: 50%;
}
