* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #94d1ee;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.header-nav {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 1.6rem;
  display: flex;
  color: #1fc8d1;
  font-weight: 700;
}

#logo p {
  color: #713d7b;
  font-weight: 700;
}

.header-nav {
  padding-top: 20px;
  border-top: 1px solid #dbeef0;
}

.header-nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 10px;
  color: #000;
}

.header_btn {
  max-width: 1140px;
  margin: auto;
  padding: 0 0 15px;
  display: flex;
  justify-content: right;
}

.btn-dk {
  font-size: 1rem;
  color: #000;
}

.btn-dn {
  margin-left: 10px;
  font-size: 1rem;
  color: #000;
}

.btn-dk:hover {
  font-weight: 600;
}

.btn-dn:hover {
  font-weight: 600;
}

/* content */

#content {
  padding: 126px 0;
}

.content-introduce {
  background-image: url(./../img/nen.jpg);
  height: 82vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduce_title {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 100px;
}

.introduce_title p {
  color: #000;
}

.content-introduce h1 {
  width: 560px;
  font-size: 2.2rem;
}

.content-btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #804080;
  border-color: #804080;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  transition-duration: 0.4s;
}
.content-btn:hover {
  color: #ffffff;
  background-color: #6d366d;
  border-color: #663366;
}

.content-introduce2 {
  max-width: 1140px;
  margin: 60px auto;
  display: flex;
}

.content-introduce2-img {
  width: 50%;
}

.content-introduce2-list {
  position: relative;
  width: 50%;
  padding-left: 68px;
}

.content-introduce2-item {
  padding-top: 102px;
  width: 100%;
}

.content-introduce2-item::after {
  position: absolute;
  content: "";
  width: 450px;
  height: 1px;
  left: 75px;
  top: 160px;
  background-color: #747678;
}

.content-introduce2-list i {
  color: #9c0000;
  font-size: 2rem;
}

.content-introduce2-list p {
  color: #000;
  padding: 0 12px;
}

.content-introduce2-item1,
.content-introduce2-item2,
.content-introduce2-item3,
.content-introduce2-item4 {
  display: flex;
  padding: 10px 0;
}

/* container */
.container {
  padding-top: 126px;
}

.content-introduce3 {
  background-color: #08a0b1;
  text-align: center;
  padding: 75px 0;
}

.content-introduce3 h1,
p {
  color: #fff;
}

.container-introduce4 {
  max-width: 1140px;
  margin: 0 auto;
  padding: 65px 0;
  text-align: center;
}

.container-introduce4 p {
  color: #000;
  padding-top: 10px;
}

.introduce4_list {
  display: flex;
  text-align: left;
}

.introduce4_items {
  width: 50%;
  margin-top: 80px;
}

.introduce4_items h6 {
  font-size: 1.2rem;
  color: #08a0b1;
}

.introduce4_items span {
  line-height: 30px;
}

.container-introduce5 {
  background-color: #e9ecef;
  padding-top: 65px;
  text-align: center;
}

.introduce5_title,
.introduce5_list {
  max-width: 1140px;
  margin: 0 auto;
}

.introduce5_title p {
  color: #000;
  padding-top: 10px;
}

.introduce5_list {
  display: flex;
}

.introduce5_items {
  width: 50%;
  text-align: left;
  padding-top: 50px;
}

.introduce5_items img {
  width: 500px;
  height: auto;
  margin: 0 50px 50px;
}

.introduce5_items p {
  margin-left: 20px;
  color: #000;
  line-height: 30px;
}

.introduce5_items i {
  margin-right: 10px;
}

.container-introduce6 {
  max-width: 1140px;
  margin: 0 auto 50px;
}

.introduce6_title {
  margin: 20px 0 40px;
  text-align: center;
}

.introduce6_title p {
  margin-top: 30px;
  color: #000;
}

.introduce6_list {
  display: flex;
}

.introduce6_items {
  width: 50%;
}

.introduce6_items p {
  color: #000;
}

.introduce6_items i {
  color: #08a0b1;
  margin: 2px 10px 0 0;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  display: flex;
  padding-bottom: 20px;
}

.introduce6_items img {
  width: 100%;
  height: auto;
  margin: 0 30px;
}

.container-introduce7 {
  background-color: #e9ecef;
  padding: 50px 0;
}

.introduce7_title,
.introduce7_list {
  max-width: 1140px;
  margin: 0 auto;
}

.introduce7_title {
  text-align: center;
}

.introduce7_list {
  display: flex;
  gap: 20px;
  padding: 40px 0 60px;
}

.introduce7_items {
  width: 25%;
  min-height: 190px;
  border-radius: 4px;
  background-color: #fff;
}

.introduce7_items h3 {
  margin: 20px 0;
  text-align: center;
}

.introduce7_items p {
  color: #000;
  margin: 0 10px;
  padding: 10px 0;
  border-top: 1px solid #000;
}

.introduce7_items a {
  color: #000;
  font-weight: 700;
  margin: 0 10px;
  padding: 30px 0;
}

.introduce7_items a:hover {
  color: #08a0b1;
}

/* footer */
.footer {
  background-color: #010101;
  min-height: 400px;
}

.footer-grid {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.footer-grid::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-column {
  width: 100%;
  display: flex;
}

.footer-column1 {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-column1 h3 {
  color: #fff;
  padding: 20px 0;
}

.footer-column1 a {
  padding-bottom: 20px;
  color: #8ea6b2;
}

.footer-column1 a:hover {
  color: #c5d0d5;
}

/* grid2 */
.footer-grid2 {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}

.footer-grid2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-column2 {
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer-column2 p {
  padding: 0;
}

.footer-row2 {
  color: #fff;
  display: flex;
}

.footer-column2-icon {
  padding-top: 8px;
}

.footer-column2-icon i {
  font-size: 1.4rem;
  margin-right: 10px;
  color: #fff;
}
