* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #94d1ee;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  padding: 50px 126px 20px 126px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 1.6rem;
  display: flex;
  color: #1fc8d1;
  font-weight: 700;
}

#logo p {
  color: #713d7b;
  font-weight: 700;
  padding: 0;
  margin-top: -1px;
}

.header-nav {
  padding-top: 20px;
  border-top: 1px solid #dbeef0;
}

.header-nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 10px;
  color: #000;
}

.btn-dk {
  position: fixed;
  right: 137px;
  padding: 14px 0;
  font-size: 1rem;
  color: #000;
  z-index: 11;
}

.btn-dn {
  right: 230px;
  position: fixed;
  padding: 14px 0;
  font-size: 1rem;
  color: #000;
  z-index: 11;
}

.btn-dk:hover {
  font-weight: 600;
}

.btn-dn:hover {
  font-weight: 600;
}

/* **************************************************** */
.grid1 {
  padding-top: 122px;
  max-width: 1280px;
  margin: auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.colunm1-1 a {
  margin-right: 25px;
  color: #000;
  line-height: 38px;
}

.colunm1-2 {
  position: relative;
}

.colunm1-2 input {
  font-size: 0.9rem;
  padding: 10px 20px;
  background-color: #d9d9d9;
  border-radius: 4px;
  border: none;
}

.colunm1-2 input:focus {
  outline: none;
  border: none;
}

.colunm1-2 i {
  position: absolute;
  top: 9px;
  right: 11px;
  font-size: 20px;
}

.colunm1-2 i:hover {
  cursor: pointer;
}

.grid2 {
  padding: 20px 0 80px;
}

.colunm2-1 {
  position: relative;
  display: flex;
}

.colunm2-1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 88px;
  width: 80%;
  height: 2px;
  background-color: #d9d9d9;
}

.colunm2-1 img {
  border-radius: 4px;
  width: 40%;
  height: auto;
}

.colunm2-1 h2,
p {
  width: 80%;
  padding: 10px 10px 0;
  line-height: 32px;
}

.colunm2-2 {
  padding-top: 28px;
  display: flex;
  flex-wrap: wrap;
}

.colunm2-2-item {
  width: 33.333333%;
  padding: 0 5px 20px;
}

.colunm2-2-item img {
  width: 100%;
  border-radius: 4px;
}

.colunm2-2-item p {
  width: 100%;
  color: #000;
  line-height: 20px;
}

.grid3 {
  background: url(../img/bgr1.png) top center / cover no-repeat;
  width: 100%;
  height: 200px;
}

.grid3_item {
  padding: 50px 125px 0;
}

.grid3_item h3 {
  color: #fff;
  font-size: 1.6rem;
  width: 50%;
  padding-bottom: 20px;
}

.btn {
  color: #fff;
  width: 122px;
  height: 38px;
  border: none;
  border-radius: 2px;
  background-color: #713d7b;
}

.btn:hover {
  cursor: pointer;
}

.btn2 {
  margin-top: 10px;
}

.btn3 {
  margin: 10px 15px 0;
  background-color: #ced4da;
  color: #000;
  border: 1px solid #888;
}

.grid4 {
  background-color: #f7f9f9;
}

.row4 {
  padding: 0 20px 40px;
}

.colunm4-1 p {
  padding-left: 0;
}

.colunm4-2 h2 {
  padding: 80px 0 20px;
}

.colunm4-2_item {
  display: flex;
  flex-wrap: wrap;
}

.colunm4-2_link {
  width: 50%;
  padding-bottom: 10px;
}

.colunm4-2_link a {
  color: #444;
}

.colunm4-2_link a:hover {
  text-decoration: underline;
}

.colunm5 {
  background-color: #e9ecef;
}

.colunm5-1 {
  background-color: #08a0b1;
  text-align: center;
  max-width: 90%;
  margin: auto;
  border-radius: 4px;
}

.colunm5-1 h2 {
  color: #fff;
  padding: 30px 0 10px;
}

.colunm5-1 p {
  width: 100%;
  padding: 0 0 70px;
  font-size: 0.8rem;
  color: #fff;
}

.colunm5-2 {
  text-align: center;
}

.colunm5-2 p {
  width: 100%;
  padding: 30px 0 10px;
}

.colunm5-1_link {
  line-height: 110px;
}

.colunm5-1_logo1 {
  width: 200px;
  height: auto;
  padding-right: 20px;
}

.colunm5-1_logo2 {
  width: 200px;
  height: auto;
  padding-left: 20px;
}

/* Footer */
.footer {
  background-color: #010101;
  min-height: 400px;
  margin-top: -15px;
  padding: 0 126px;
}

.footer-grid {
  padding-top: 50px;
  position: relative;
}

.footer-grid::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-column {
  width: 100%;
  display: flex;
}

.footer-column1 {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.footer-column1 h3 {
  color: #fff;
  padding: 20px 0;
}

.footer-column1 a {
  padding-bottom: 20px;
  color: #8ea6b2;
}

.footer-column1 a:hover {
  color: #c5d0d5;
}

/* grid2 */
.footer-grid2 {
  padding-top: 50px;
  position: relative;
}

.footer-grid2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-column2 {
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer-column2 p {
  padding: 0;
}

.footer-row2 {
  color: #fff;
  display: flex;
}

.footer-column2-icon {
  padding-top: 8px;
}

.footer-column2-icon i {
  font-size: 1.4rem;
  margin-right: 10px;
  color: #fff;
}
